/* navigation section start */
*{
    margin:0;
    padding:0;
    /* background-color: #f4f4fc; */
   

}
.hero_container{
    padding-left:80px;
    padding-right: 80px;
    background-image:url(../Assets/Hero-bg.png) ;
    max-width: 100%;

    height: 400px;
    
     
}
.logo{
    padding-top: 51.7px;
     width: 99px;
    height: 51px;
    
    font-size: 34px;
    color:mediumblue ;
    
    margin-right: 1191px;
    background: none;
     
}

 .button{ 
    position: absolute;
  top: 51.7px;
  right: 150px;
  padding: 10px;
  background-color: lightblue;
    
    white-space: nowrap;
    color: white;
    background-color:#4E47FF ;
    border: #4E47FF;
    border-radius: 10px;
   

   
}


 .Stay-focused{
    padding-left: 200px;
    padding-top: 100px;
  font-size: 37px;
  text-align: center; 
    width: 905px;
    height: 152px;

} 
 .button2{
    position: relative;
    left: 559px;
bottom: 50px;
   white-space: nowrap;
    color: white;
    background-color:#4E47FF ;
    border: #4E47FF;
    border-radius: 10px;
    width: 174px;
    height: 48px;
   
} 

/* action section start */

.div1{
   
max-width: 100%;
    height: 328px;
/* margin-left: 41px;  */
    /* margin-right: 1490px;
     margin-top:116px ;  */
 
  


}
    
 
  
    


.action{
    margin-left: 141px;
    margin-right: 782px;
    margin-top: 378.5px;
    /* margin-bottom: 100px; */position: relative;
    top: 50px;
}
.title1{
width: 517px;
height: 49px;
font-size: 42px;
font-weight: bold;
}
.subtitle1{
width: 517px;
height: 60px;
font-size: 24px;
color:#252432;
}
.button3{
width: 229px;
height: 48px;
text-align: center;
gap: 10px;
border-radius: 10px;
background-color:#4E47FF ;
border: #4E47FF;
}
.img1{
    position: relative;
    left: 778px;
bottom: 216px;
     /* margin-top: 116px; margin-bottom: 116px;
margin-left: 878px;
margin-right: 159px; */
width: 403px;
height: 328px;
border-radius: 48px;
color: white;
}
/* Third section start  */
.main{
  

   
 
  max-width: 100%;              
  height: 300px;  
            
  background-color: #b5bbf3;
  margin-top: 116px;
      margin-left: 151px;
      margin-right: 159px;
  border-radius: 10px;
  padding-top: 10px;
}

   

.section3{
  
padding-right: 2700px;
margin-left:185px ;
white-space: nowrap;    
width: 856px;
height: 45px;
font-size: 28px;
font-weight: bold;
color: #252432;
}
.portion{
 position: relative;
 top: 30px;  
padding-inline: 75px;
display: flex;
width: 162px;
height: 97px;
font-weight: Bold;
font-size: 80px;
color: blue;
white-space: nowrap;
}

.character{
padding-top: 30px;
padding-inline: 75px;
display: flex;    
width: 120px;
height: 24px;
font-size: 20px;
color: #000000;
white-space: nowrap;
}
.s{
    position: relative;
    left: 80px;
}
.r{
    position: relative;
    left: 36px;
}
/* fourth section start */
.full{
    display: flex;
    margin-top: 150px; 
  position: relative;
     left: -250px
   

}
.classs{
    display: flex;
    
    
}
.userssay{
    position: relative;
    left: 700px;
    bottom: 90px;
width: 2140px;
height: 59px;
font-weight: bolder;
font-size: 48px;
color:#252432;
white-space: nowrap;
}

.title2{
    margin-bottom: 70px;
width: 221px;
height: 29px;
color:black ;
}
.subtitle2{

 margin-bottom: 30px;   
width: 318.67px;
height: 44px;
font-size: 20px;
}
.input{
    display: block;
    color: #818185;
    
}
.avatar{
display: flex;
}
.girl{
 position: relative;
 right: 10px;
border-radius: 50%;
}
.class2{
    
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(5, 5, 5, 0.15);
  overflow: hidden;
  background-color: white;
  padding: 10px;
  
  gap: 10px;
  /* margin: 0 auto; */
  font-family: sans-serif;
     
/* border: #000000;
border-radius: 10px;
border-width: 10px;
width: 366.67px; */
height: 343px;
}
/* optional section */
.focus{
    background:white;

}

.title3{
    background: white;
    margin-top: 71px;
    margin-left: 463px;
    margin-right:463px;
    margin-bottom: 20px;
width: 512px ;
white-space: nowrap;
height: 60px;
font-weight: bold;
font-size: 50px;
color: black;
}
.paragraph{
    background: white;
    margin-top: 20px;
    margin-left: 577px;
    margin-right:477px;
    margin-bottom: 18px;
width: 287px;
height: 22px;
}
.button4{
    white-space: nowrap;
    color: white;
    background-color:#4E47FF ;
    border: #4E47FF;
    border-radius: 10px;
   
       margin-top: 10px;
    margin-left: 600px;
    margin-right:623px;
    margin-bottom: 20px;
width: 115px;
height:48px;
border-radius: 10px;
}
.img3{
      margin-top: 20px;
    margin-left: 241px;
    margin-right:261px;
    margin-bottom: 71px;
width: 840px;
height: 364.77px;
border-radius: 48px;
}
/* Touch section  */

.left-section{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 92.23px;
display: flex;


}
.left-title{
    align-items: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 412px;
  margin-top: 50px;
    white-space:nowrap;
width: 228px;
height: 50+32px;
font-weight: bold;
font-size: 97px;
}
.right-side{
       /* margin-left:593 px; */
    margin-right: 150px;
      margin-top: 33.23px;   */
 width: 97px; 
height: 490px;
 
}

.email:hover{
    border-color: rgb(179, 180, 177);
    background-color: rgb(185, 241, 100);
 height: 30px;
 padding-right: 30px;
}
.name:hover{
    border-color: rgb(200, 201, 199);
    background-color: rgb(185, 241, 100);
height: 30px; 
padding-right: 30px;
}
.massage:hover{
    border-color: rgb(179, 180, 177);
    cursor: pointer;
    background-color: rgb(185, 241, 100);
height: 45px;
padding-right: 38px;
}
.right-button:hover{
    cursor: pointer;
   white-space: nowrap;
    color: white;
    background-color:#6e69e9 ;
    border: #4E47FF;
    border-radius: 10px;
    
width: 87px;
height: 22px;
gap: 10px;
padding-left: 10px;
padding-right: 10px;
}
/* footer section start  */
.link:hover{
 transition: box-shadow 0.3s ease;
 cursor: pointer;   
border: none;
width: 401px;
height: 24px;
word-spacing: 48px;
color: #8987A1;
background-color: white;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.LOGO{
width: 291px;
height: 121px;
color: #4E47FF;
font-size: 100px;
margin-top:104px ;
padding-left: 574px;
padding-right: 575px;
    background-color: white;
 
}
.elevate{
  margin-right: 100px;
    align-items: center;
    text-align: center;
    display: flex;
/* width: 31px;
height: 18px; */
color: #8987A1; 
 padding-top: 8px;
padding-left: 580px;
padding-right: 400px;
  /* width: 100%;               */
font-size:20px ;
padding-bottom:20px;
background-color: white; */


}
.hyper-section{
    
    white-space: nowrap;
font-weight: bolder;
display: flex;
margin-top: 10px;
margin-left: 519px;
margin-right: 520px;
/* margin-bottom:103px ; */
gap: 40px;
color: #06dd8a;
text-decoration: solid;
box-shadow: #08e452;
}


.footer{
    /* position: relative;
    bottom: 100px; */
 width: 1440px; 
 height: 428px; 
background-color: white;

   width: 100%;   
       

} 
