/* navigation section start */
header{
    /* padding: auto; */
    background-position: center;
     background-image:url(../Assets/Hero-bg.png) ;
    width: 1440px;
    height: 698px;
    gap: 158px;
    margin:0px auto;
    
     
}
.logo{
    width: 99px;
    height: 51px;
    
    font-size: 34px;
    color:mediumblue ;
    margin-top: 50px ;
    margin-right: 1191px;
    
}
nav{
    display: flex;
    margin-left:150px ; 
    margin-right:150px;
    margin-bottom: 547px;
}
.button{
    
    position: relative;
    right: 100px;
    width:132px ; 
    height: 48px;
    white-space: nowrap;
    color: white;
    background-color:#4E47FF ;
    border: #4E47FF;
    border-radius: 15px;
    margin-top:51.5px;
}
.section1{
    position: relative;
    bottom: 200px;
    right: 200px;
    
}
.Stay-focused{
    position: relative;
    left: 567.5px; 
    bottom: 200px;
    width: 905px;
    height: 152px;
    font-style:Bold ;
    font-size: 65px;
    color:#252432 ;
}
.button2{
    position:relative ;
    left:800px ;
    bottom: 250px;
    width: 174px;
    height: 48px;
}
/* action section start */

.div1{
    position:relative;
    left:475px ;
}


.action{
    position: relative;
    left: 355px;
    top: 150px;
}
.title1{
width: 517px;
height: 49px;
font-size: 42px;
font-weight: bold;
}
.subtitle1{
width: 517px;
height: 60px;
font-size: 24px;
color:#252432;
}
.button3{
width: 229px;
height: 48px;
text-align: center;
gap: 10px;
border-radius: 10px;
background-color:#4E47FF ;
border: #4E47FF;
}
.img1{
position: relative;
left: 990px;
bottom: 100px;
width: 403px;
height: 328px;
border-radius: 48px;
color: white;
}
/* Third section start  */
.main{
  margin-left: 800px;
  
  width: 1080px;              
  height: 300px;              
  background-color: #e7e7f1;
      
  border-radius: 10px;
  padding-top: 10px;
}

   

.section3{
  
padding-right: 2700px;
margin-left:200px ;
white-space: nowrap;    
width: 856px;
height: 45px;
font-size: 28px;
font-weight: bold;
color: #252432;
}
.portion{
padding-inline: 75px;
display: flex;
width: 162px;
height: 97px;
font-weight: Bold;
font-size: 80px;
color: blue;
white-space: nowrap;
}

.character{
padding-top: 30px;
padding-inline: 75px;
display: flex;    
width: 120px;
height: 24px;
font-size: 20px;
color: #000000;
white-space: nowrap;
}
.s{
    position: relative;
    left: 70px;
}
/* fourth section start */
.full{
position: relative;
left: 950px;
}
.classs{
    display: flex;
    
}
.userssay{
    position: relative;
    left: 200px;
width: 1140px;
height: 49px;
font-weight: bold;
font-size: 42;
color:#252432;
}
.class{

}
.title2{

}
.subtitle2{

}
.input{
    display: block;
    margin-bottom: 10px;
    
}