/* navigation section start */
*{
    margin:0;
    padding:0;
    background-color: #e1e0e9;

}
header{
    /* padding: auto; */
    background-position: center;
     background-image:url(../Assets/Hero-bg.png) ;
    width: 1440px;
    height: 698px;
    gap: 158px;
    margin:0px auto;
    
     
}
.logo{
    width: 99px;
    height: 51px;
    
    font-size: 34px;
    color:mediumblue ;
    margin-top: 50px ;
    margin-right: 1191px;
    
}
nav{
    display: flex;
    margin-left:150px ; 
    margin-right:120px;
    margin-bottom: 547px;
}
.button{
    
    /* position: relative;
    right: 100px; */
    width:132px ; 
    height: 48px;
    white-space: nowrap;
    color: white;
    background-color:#4E47FF ;
    border: #4E47FF;
    border-radius: 15px;
    margin-top:51.5px;

   
}
.section1{
    position: relative;
    bottom: 200px;
    right: 200px;
    
}
.Stay-focused{
    position: relative;
    left: 567.5px; 
    bottom: 200px;
    width: 905px;
    height: 152px;
    font-style:Bold ;
    font-size: 65px;
    color:#252432 ;
}
.button2{
    position:relative ;
    left:800px ;
    bottom: 250px;
    width: 174px;
    height: 48px;
}
/* action section start */

.div1{
margin-left: 141px; 
    margin-right: 149px;
     margin-top:116px ; 
  
}
    
 
  
    


.action{
    position: relative;
    left: 355px;
    top: 150px;
}
.title1{
width: 517px;
height: 49px;
font-size: 42px;
font-weight: bold;
}
.subtitle1{
width: 517px;
height: 60px;
font-size: 24px;
color:#252432;
}
.button3{
width: 229px;
height: 48px;
text-align: center;
gap: 10px;
border-radius: 10px;
background-color:#4E47FF ;
border: #4E47FF;
}
.img1{
position: relative;
left: 990px;
bottom: 100px;
width: 403px;
height: 328px;
border-radius: 48px;
color: white;
}
/* Third section start  */
.main{
  
  /* position:relative;
  left: 800px; */
  width: 1080px;              
  height: 300px;              
  background-color: #e7e7f1;
  margin-top: 116px;
      margin-left: 151px;
      margin-right: 159px;
  border-radius: 10px;
  padding-top: 10px;
}

   

.section3{
  
padding-right: 2700px;
margin-left:200px ;
white-space: nowrap;    
width: 856px;
height: 45px;
font-size: 28px;
font-weight: bold;
color: #252432;
}
.portion{
padding-inline: 75px;
display: flex;
width: 162px;
height: 97px;
font-weight: Bold;
font-size: 80px;
color: blue;
white-space: nowrap;
}

.character{
padding-top: 30px;
padding-inline: 75px;
display: flex;    
width: 120px;
height: 24px;
font-size: 20px;
color: #000000;
white-space: nowrap;
}
.s{
    position: relative;
    left: 70px;
}
/* fourth section start */
.full{
  
    display: flex;
    margin-top: 1171px;
    margin-left: 149px;
    margin-right: 151px;
    margin-top: 150px;
    

}
.classs{
    display: flex;
    
}
.userssay{
    position: relative;
    left: 1250px;
    bottom: 100px;
width: 1140px;
height: 49px;
font-weight: bold;
font-size: 42;
color:#252432;
}

.title2{
width: 221px;
height: 29px;
color:black ;
}
.subtitle2{
width: 318.67px;
height: 44px;
font-size: 20px;
}
.input{
    display: block;
    /* margin-bottom: 10px; */
    
}
.avatar{
display: flex;
}
.girl{
 position: relative;
 right: 10px;
border-radius: 50%;
}
.class2{
    display: inline-flexbox;
width: 366.67px;
height: 243px;
}
/* optional section */

.title3{
    margin-top: 71px;
    margin-left: 463px;
    margin-right:463px;
    margin-bottom: 130px;
width: 512px ;
height: 60px;
font-weight: bold;
font-size: 50px;
color: black;
}
.paragraph{
    margin-top: 20px;
    margin-left: 477px;
    margin-right:477px;
    margin-bottom: 88px;
width: 487px;
height: 22px;
}
.button4{
       margin-top: 20px;
    margin-left: 623px;
    margin-right:623px;
    margin-bottom: 20px;
width: 195px;
height:48px;
border-radius: 10px;
}
.img3{
      margin-top: 20px;
    margin-left: 241px;
    margin-right:261px;
    margin-bottom: 71px;
width: 840px;
height: 364.77px;
border-radius: 48px;
}
/* Touch section  */

.left-section{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 92.23px;
display: flex;
gap: 115px;

}
.left-title{
    margin-left: 50px;
    margin-right: 762px;
    margin-top: 292.23;
    white-space:nowrap;
width: 528px;
height: 232px;
font-weight: bold;
font-size: 97px;
}
.right-side{
      margin-left:793 px;
    margin-right: 150px;
    margin-top: 163.23;
width: 497px;
height: 490px;
gap: 19px;
}
.email{
 height: 102px;
}
.name{
height: 102px; ;
}
.massage{
height: 167px;
}
.right-button{
width: 487px;
height: 62px;
gap: 10px;
padding-left: 101px;
padding-right: 101px;
}